@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.phone-page {
    min-height: 100vh;
    position: relative;
}

.phone-page__close-button {
    position: absolute;
    right: 20px;
    margin-top: 20px;
}

.close-button {
    width: 88px;
    height: 52px;
    background-color: #FFF;
    border: 2px solid #000;
}

.close-button:hover {
    background-color: #000;
    cursor: pointer;
}

.close-button__image {
    position: absolute;
    right: 0;
    top: 0;
    width: 88px;
    height: 52px;
}

.close-button__image:before,
.close-button__image:after {
    position: absolute;
    content: ' ';
    width: 26px;
    height: 3px;
    top: 24px;
    left: 35px;
    background-color: #000;
}

.close-button__image:hover:before,
.close-button__image:hover:after {
    background-color: #FFF;
}

.close-button__image:before {
    transform: rotate(45deg);
}

.close-button__image:after {
    transform: rotate(-45deg);
}

.phone-page__qr-code {
    position: absolute;
    bottom: 40px;
    right: 40px;
}

.qr-code {
    display: inline-flex;
    align-items: center;
}

.qr-code__text {
    color: #FFF;
    text-align: right;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    width: 194px;
    padding-right: 10px;
}

.qr-code__image {
    width: 110px;
    height: 110px;
}

.phone-page__content {
    max-width: 380px;
    background-color: #86D3F4;
    min-height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    opacity: 0;
    transform: translateX(-100%);
    animation: slideInFromLeft 0.5s ease-in-out forwards;
}

.phone-form__input {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 100%;
    border: none;
    background-color: #86D3F4;
    font-family: 'Roboto', sans-serif;
}

.phone-form__input_invalid {
    color:rgba(234, 0, 0, 1);
}

.phone-form__input:focus {
    outline: none;
}

.phone-form__text {
    text-align: center;
}

.phone-form {
    max-width: 284px;
    padding: 60px 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;
    text-align: center;
}

.phone-form__title {
    font-size: 26px;
}

.phone-form__digits {
    width: 100%;
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 20px 0;
}

.phone-form__digit {
    padding: 14px 30px;
    border: 2px solid #000;
    font-size: 16px;
    font-weight: 500;
    background-color: #86D3F4;
}

.phone-form__digit:hover {
    cursor: pointer;
    background-color: #000;
    color: #FFF;
}

.phone-form__digit_big {
    grid-column-start: 1;
    grid-column-end: 3;
    text-transform: uppercase;
}

.checkbox {
    display: flex;
    align-items: center;
}

.checkbox__label {
    margin-right: 50px;
}

.checkbox__button {
    width: 38px;
    height: 38px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #000;
    margin: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background-color: transparent;
}

.checkbox__button:hover {
    cursor: pointer;
}

.checkbox__button_checked {
    background-image: url(../../../public/imgs/check.svg);
    background-size: 80% 80%;
}

.error-message{
    margin: 15px 0;
}

.error-message__text {
    font-size: 16px;
    color:rgba(234, 0, 0, 1);
    font-weight: 500;
}

.phone-form__confirm-button {
    width: 100%
}

.confirmation {
    max-width: 284px;
    display: flex;
    flex-direction: column;
}

.confirmation__title {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 15px;
}