.phoneEnter {
    min-height: 100vh;
    position: relative;
}

.container {
    max-width: 380px;
    background-color: #86D3F4;
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.btn-close {
    position: absolute;
    width: 88px;
    height: 52px;
    background-color: #FFF;
    border: 2px solid #000;
    right: 20px;
    margin-top: 20px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    width: 88px;
    height: 52px;
}

.btn-close:hover {
    background-color: #000;
    cursor: pointer;
}

.close:before,
.close:after {
    position: absolute;
    content: ' ';
    width: 26px;
    height: 3px;
    top:24px;
    left: 35px;
    background-color: #000;
}

.close:hover:before,
.close:hover:after {
    background-color: #FFF;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.phoneEnter_qr{
    position: absolute;
    bottom: 40px;
    right: 40px;
    display: inline-flex;
    align-items: center;
}

.phoneEnter_text{
    color: #FFF;
    text-align: right;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    width: 194px;
    padding-right: 10px;
}

.phoneEnter_img{
    width: 110px;
    height: 110px;
}

.container_content {
    max-width: 284px;
    padding: 60px 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;
}

.container input {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 100%;
    border: none;
    background-color: #86D3F4;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}

.container input:focus {
    outline: none;
}

.container p {
    text-align: center;
}

.container_title {
    font-size: 26px;
}

.numbers {
    width: 100%;
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 20px 0;
}

.number {
    padding: 14px 30px;
    border: 2px solid #000;
    font-size: 16px;
    font-weight: 500;
    background-color: #86D3F4;
}

.number:hover {
    cursor: pointer;
    background-color: #000;
    color: #FFF;
}

.delete {
    grid-column-start: 1;
    grid-column-end: 3;
    text-transform: uppercase;
}

.confirm {
    width: 100%
}

.checkbox_container {
    position: relative;
}

.checkbox {
    position: absolute;
    z-index: -1;
    left: 10px;
    opacity: 0;
}

.checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.checkbox+label::before {
    content: '';
    display: inline-block;
    width: 38px;
    height: 38px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #000;
    margin: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.checkbox:checked+label::before {
    border-color: var(--third-color);
    background-color: none;
    background-image: url(../../public/imgs/check.svg);
    background-size: 100% 100%;
}