.App {
  min-height: 100vh;
  position: relative;
}

video::-webkit-media-controls {
  display: none;
}

#bg-video{
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top:0;
  left: 0;
  z-index: -1;
}

.greeting {
  background: #86D3F4;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px 0px;
  max-width: 251px;
  position: absolute;
  right: 0;
  top: 15rem;
}

.greeting p {
  text-align: center;
}

.greeting_title {
  padding-top: 20px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}

.greeting_img {
  width: 126px;
  height: 126px;
}

.btn-yes {
  background: #000;
  color: #86D3F4;
  font-size: 16px;
  width: 156px;
  padding: 16px;
  border: none;
  cursor: pointer;

}